<tr id="repo-<%= repo.id %>">
  <td class="line-height6"><nobr>
    <%= link_to "https://github.com/#{repo.owner}/#{repo}/watchers", target: '_blank' do %>
      <span class="badge badge-success">
        <i class="icon-eye-<%= repo.private? ? 'close' : 'open' %> icon-white"></i>
        <%= repo.watchers.size %>
      </span>
    <% end -%>
  </nobr></td>
  <td>
    <h3>
      <small><strong><%= repo.owner %></strong> /</small>
      <%= link_to repo_path(repo.owner.username, repo.name), class: 'external-link', data: { target: '#repo-modal', toggle: "modal-ajax" } do %>
        <%= repo %>
      <%- end -%>
      <a href="<%= "https://github.com/#{repo.owner}/#{repo}" %>" target="_blank"><i class="icon-share-alt"></i></a>
    </h3>
    <p class="muted"><%= repo.description %></p>
  </td>
  <td class="muted"><h6 class="line-height6"><%= repo.language %></h6></td>
  <td class="line-height6"><nobr>
    <%= link_to "https://github.com/#{repo.owner}/#{repo}/network", target: '_blank' do %>
      <span class="badge">
        <i class="icon-random icon-white"></i>
        <%= repo.forks %>
      </span>
    <% end -%>
  </nobr></td>
</tr>