<%- title 'You are watching repos owned by...' -%>

<div class="well">

  <%= render 'kaminari/page_entries_info', :collection => @users, :entry_name => "user" -%>

  <table class="table table-striped">
    <tbody>

      <%- @users.each do |user| -%>

      <tr>
        <td>
          <h2><%= link_to user.username, user_path(user.username) %></h2>
          <p>
            <% current_user.watchings.sample(where: {owner_id: user.id}, limit: 6).each_with_index do |repo,i| %>
              <%= link_to repo, repo, class: 'muted' %><%= ',' if i < user.repos && i < 5 && i < user.repos-1 %>
            <%- end -%>
          </p>
        </td>
        <td class="line-height6 right"><nobr>
          <span class="badge">
            <i class="icon-eye-open icon-white"></i>
            <%= pluralize user.repos, 'repo' %>
          </span>
        </nobr></td>
      </tr>

      <%- end -%>

    </tbody>
  </table>

  <%= render 'kaminari/page_entries_info', :collection => @users, :entry_name => "user" -%>

</div>

